@import "normalize";
@import "reset";
@import "var";

@import "mixin/mixin";

// standart styles

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

img {
    font-size: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


body {
    font-size: 1rem;
    font-family: 'CaviarDreams', sans-serif;
    text-rendering: optimizeSpeed;
    color: #ffffff;
    line-height: 1.5;
}

// components 

@import "components/container";
@import "components/header";
@import "components/menu";
@import "components/page";
@import "components/services";


