.main__cards {
    &-body {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 72px;


        // images blocks 

        &-img {
            width: calc(100% / 4);
            font-size: 0;
        }
    }

    // microsoft  icon

    &-microsoft {
        padding-bottom: 100px;
        margin: auto;
        width: 100%;
        
        & {
            a:not(:first-child) {
                margin-left: 20px;
            }
        }

        
        
    }

}