.container {
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    // border: 1px solid red;
}

.d-flex {
    display: flex;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}