.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {

    & a {
        color: $text;
        text-decoration: none;
        text-transform: uppercase;
        font-size: inherit;
        font-family: "Roboto-Medium", sans-serif;
        font-weight: 500;
        transition: 0.3s;
        letter-spacing: 1.5px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25%);


        &:hover {
            color: $blueLink;
        }
    }    

    &:not(:last-child) {
        margin-right: 52px;
    }
}