@mixin nameText {
    font-family: "Roboto-Medium";
    font-weight: 500;
    color: $text;
}

@mixin nameTextDesc {
    font-family: "Roboto-Regular";
    font-weight: 400;
    color: $textDescription;
}

@mixin buttonsMix {
    font-family: "Roboto-Regular";
    font-weight: normal;
}