meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='theme-color' content='#34547A')
link(rel='apple-touch-icon' sizes='16x16' href='images/icons/portfolio-16.png')
link(rel='apple-touch-icon' sizes='32x32' href='images/icons/portfolio-32.png')
link(rel='apple-touch-icon' sizes='64x64' href='images/icons/portfolio-64.png')
link(rel='apple-touch-icon' sizes='128x128' href='images/icons/portfolio-128.png')
link(rel='icon' type='image/png' href='images/icons/portfolio-16.png' sizes='16x16')
link(rel='icon' type='image/png' href='images/icons/portfolio-32.png' sizes='32x32')
link(rel='icon' type='image/png' href='images/icons/portfolio-64.png' sizes='64x64')
link(rel='icon' type='image/png' href='images/icons/portfolio-128.png' sizes='128x128')