doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        title S.T.A.L.K.E.R - W.I.N.T.E.R -mod
    body
        header.header.header-bg 
          h2.header__title s.t.a.l.k.e.r
          p.header__desc  w.i.n.t.e.r
          audio(src="audio/menu.mp3" controls)  

        main.main 
            .main__title Разработка игры:

            //- block service
            .main__body.main__body-bg
                .main__body-text Модификация меняла холодные проливные дожди на снегопады, которые периодически осыпали кроны облетевших деревьев, крыши покосившихся домиков и старые асфальтовые дорожки мягкими белыми хлопьями снега. Серые пустоши, усеянные пожухлыми травами и земля, покрытая мертвой листвой, превращались в белоснежные поблескивающие от лучей тусклого зимнего солнца просторы. Снежные шапки на деревьях, скрип свежего чистого снега под ногами одинокого бродяги, треск костра, у которого греется компания старателей, переодетых в зимнюю одежду.

        footer.footer 
            p.footer__text 
                a(href="" aria-label="Все права защищены") &copy;Все права защищены. 2024. 


