@import "../fonts/fonts.scss";

html {
    box-sizing: border-box;
    font-size: 16px;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: "rusboys", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1.5px;
}

.header {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #ffffff;
    text-transform: uppercase;
    font-size: clamp(1.375rem, 0.1442rem + 6.1538vw, 3.375rem);

    &-bg {
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(../img/header.jpg);
        min-height: 100dvh;
        background-position: 100% 100%;
        background-size: cover;
        position: relative;
    }

}

audio {
    width: 550px;
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(100%);
}

.main__title {
    padding: 120px 5px;
    text-align: center;
    font-size: 2.4rem;
}

// audio media

@media screen and (max-width: 768px) {
    audio {
        width: 330px;
    }
}

.main__body {
    padding: 0 20px;

    &-bg {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 150px;
    }

    &-text {
        color: #ffffff;
        text-align: center;
        font-family: "graffity";
        padding: 50px 0;
        letter-spacing: 2px;
        line-height: 2;
    }
}

.footer {
    background-color: #000000;
    padding: 25px 0;
    &__text {
        font-family: "Amaz", sans-serif;
        text-align: center;
        font-size: 1rem;
        
        & a {
            color: #ffffff;
            text-decoration: none;
        }
    }
}

