@import "../fonts/fonts";
@import "var";
@import "normalize";
@import "reset";
@import "container";
@import "components/button";
// layout
@import "../scss/layout/header";
@import "../scss/layout/about";

// default style reset

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

// components

// header 
@import "../scss/layout/header";
@import "../scss/layout/projects";

@import "components/menu";







